.component-icon-sprite {
  background-image: url('/icons/signalcomp.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 24px;
}

.icon-and {
  background-position: -1px -4px;
}

.icon-adder {
  background-position: -97px -4px;
}

.icon-subtract {
  background-position: -161px -4px;
}

.icon-divide {
  background-position: -33px -36px;
}

.icon-multiply {
  background-position: -1px -36px;
}

.icon-xor {
  background-position: -129px -36px;
}

.icon-signal-check {
  background-position: -161px -132px;
}

.icon-greater {
  background-position: -65px -4px;
}

.icon-abs {
  background-position: -161px -100px;
}

.icon-acos {
  background-position: -161px -68px;
}

.icon-asin {
  background-position: -129px -68px;
}

.icon-atan {
  background-position: -1px -100px;
}

.icon-ceil {
  background-position: -65px -100px;
}

.icon-color {
  background-position: -129px -4px;
}

.icon-concatenation {
  background-position: -1px -68px;
}

.icon-cos {
  background-position: -65px -68px;
}

.icon-delay {
  background-position: -97px -132px;
}

.icon-exponentiation {
  background-position: -65px -36px;
}

.icon-factorial {
  background-position: -129px -100px;
}

.icon-equals {
  background-position: -33px -4px;
}

.icon-floor {
  background-position: -97px -100px;
}

.icon-input-selector {
  background-position: -97px -164px;
}

.icon-memory {
  background-position: -129px -132px;
}

.icon-modulo {
  background-position: -33px -132px;
}
